# Godot 4+ specific ignores
.godot/

luau/*.obj
luau/*.o

# Ignore library files but not the gdextension file
demo/addons/gdluau/bin/*
!demo/addons/gdluau/bin/android
demo/addons/gdluau/bin/android/*
!demo/addons/gdluau/bin/android/.gitkeep
!demo/addons/gdluau/bin/linux
demo/addons/gdluau/bin/linux/*
!demo/addons/gdluau/bin/linux/.gitkeep
!demo/addons/gdluau/bin/macos
demo/addons/gdluau/bin/macos/*
!demo/addons/gdluau/bin/macos/.gitkeep
!demo/addons/gdluau/bin/windows
demo/addons/gdluau/bin/windows/*
!demo/addons/gdluau/bin/windows/.gitkeep
!demo/addons/gdluau/bin/*.gdextension

bin/android/*
!bin/android/.gitkeep
bin/linux/*
!bin/linux/.gitkeep
bin/macos/*
!bin/macos/.gitkeep
bin/windows/*
!bin/windows/.gitkeep

.sconsign*.dblite

# Ignore custom.py
custom.py

# Ignore generated compile_commands.json
compile_commands.json

# Binaries
*.o
*.a
*.os
*.so
*.obj
*.bc
*.pyc
*.dblite
*.pdb
*.lib
*.config
*.creator
*.creator.user
*.files
*.includes
*.idb
*.exp

# Other stuff
*.log

# VSCode
.vscode/*
!.vscode/extensions.json
